.footer_container{
   .footer_block{
    padding: 50px 20px 50px 20px;
    background: var(--color-Shark, #1D2023);
     .footerBottom_block{
        max-width: 1200px;
        margin: 0 auto;
     }
   } 
}